<style>
  .count{
      color: black;
      font-size: 13px;
      font-weight: bold;
  }
</style>
<script type="text/javascript" src="/assets/showSubMenu.js"></script>

<div id="default" style="width: 100%; height: 400px; text-align: center; vertical-align: top;">

 <% if @folders.include?("Print By TA") %>

			<div class="button child_menu print_cases  " onclick="window.location = '/select_cases?cat=ta'" tag=0 title="Print By TA">
				<table style="text-align: left;">
					<tr>
						<td rowspan="2">
						  <img src="<%= @icoFolder %>" height="60"/>  <br />
						</td>
						<td style="height: 30px;">
						  Print By TA
						</td>
					</tr>
					<tr>
						<td style="font-size: 11px; font-style: italic;">
						  Print certificates by TA
						</td>
					</tr>
				</table>
			</div>
			     
 <% end %>


  <% if @folders.include?("Print By Village") %>

      <div class="button child_menu print_cases  " onclick="window.location = '/select_cases?cat=village'" tag=0 title="Print By Village">
        <table style="text-align: left;">
          <tr>
            <td rowspan="2">
              <img src="<%= @icoFolder %>" height="60"/>  <br />
            </td>
            <td style="height: 30px;">
              Print By Village
            </td>
          </tr>
          <tr>
            <td style="font-size: 11px; font-style: italic;">
              Print certificates by Village
            </td>
          </tr>
        </table>
      </div>

  <% end %>

  <% if @folders.include?("Print By Facility") %>

      <div class="button child_menu print_cases  " onclick="window.location = '/select_cases?cat=facility'" tag=0 title="Print By Facility">
        <table style="text-align: left;">
          <tr>
            <td rowspan="2">
              <img src="<%= @icoFolder %>" height="60"/>  <br />
            </td>
            <td style="height: 30px;">
              Print By Facility
            </td>
          </tr>
          <tr>
            <td style="font-size: 11px; font-style: italic;">
              By facility where record was entered
            </td>
          </tr>
        </table>
      </div>

  <% end %>

  <% if @folders.include?("Print By Search") %>

      <div class="button child_menu print_cases  " onclick="window.location = '/select_cases?cat=search'" tag=0 title="Print By Facility">
        <table style="text-align: left;">
          <tr>
            <td rowspan="2">
              <img src="<%= @icoFolder %>" height="60"/>  <br />
            </td>
            <td style="height: 30px;">
              Print By Search
            </td>
          </tr>
          <tr>
            <td style="font-size: 11px; font-style: italic;">
              Print certificates after searching
            </td>
          </tr>
        </table>
      </div>

  <% end %>
</div>
