<div style="width: 100%;padding: 10%;">
    <span style="font-size: 1.5em;">Failed to save, record already exists!</span> <br />
    <button onclick="javascript:history.go(-1)" class="blue"> Back </button>
</div>