application_mode: FC #FC|DC
location_id: 356  #facility_id |district_id [location_id of the health facility or district_id in location table]
enable_role_privileges: true # only works when in development mode
duplicate_precision: 80
potential_search: false
app_gate_url: 
assign_ben: true
sync_protocol: 'http'
sync_host: 0.0.0.0:5984
sync_database: 
sync_username: 
sync_password: 
ebrs_services_link: http://0.0.0.0:10001
destination_app_link: http://0.0.0.0:9001
enable_decentralised_printing: true
enable_printing_when_hq_is_offline
printer_name: test1|tst2|UpperSoftware
barcodes_path: /var/www/barcodes/
certificates_path: /var/www/certificates/
enable_qr_code: true
